services:
  dev:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspace/main:cached
    command: sleep infinity
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres:18
    volumes:
      - pg-data:/var/lib/postgresql
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d mydb"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pg-data:
